@use "global" as *;

.pagenavi__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(82);

}

.pagenavi__item a{
  border: rem(1) solid $green;
  padding: rem(9);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: rem(38);
  height: rem(38);
  transition: background-color .3s;
}

.pagenavi__item:hover a{
  background-color: $green;
}

.pagenavi__prev {
  border-top: rem(1) solid $green;
  border-left: rem(1) solid $green;
  display: inline-block;
  width: rem(10);
  height: rem(10);
  transform: rotate(-45deg);
  transition: border-color .3s
}

.pagenavi__next {
  border-top: rem(1) solid $green;
  border-right: rem(1) solid $green;
  display: inline-block;
  width: rem(10);
  height: rem(10);
  transform: rotate(45deg);
  transition: border-color .3s
}

.pagenavi__item:hover .pagenavi__prev ,
.pagenavi__item:hover .pagenavi__next{
  border-color: $white;
}

