@use "global" as *;

.top-campaign{
  margin-top: rem(40);
  @include mq("md"){
    margin-top: rem(120);
  }
}

.top-about-us{
  margin-top: rem(80);
  @include mq("md"){
    margin-top: rem(142);
  }
}

.top-info{
  margin-top: rem(70);
  @include mq("md"){
    margin-top: rem(164);
  }
}

.top-voice{
  margin-top: rem(84);
  @include mq("md"){
    margin-top: rem(144);
  }
}

.top-price{
  margin-top: rem(84);
  @include mq("md"){
    margin-top: rem(144);
  }
}

.top-contact{
  margin-top: rem(80);
  @include mq("md"){
    margin-top: rem(140);
  }
}

.top-footer{
  margin-top: rem(100);
  @include mq("md"){
    margin-top: rem(160);
  }
}