@use "global" as *;

.top-campaign{
  padding-top: rem(40);
  @include mq("md"){
    padding-top: rem(120);
  }
}

.top-about-us{
  padding-top: rem(40);
  @include mq("md"){
    padding-top: rem(72);
  }
}

.top-info{
  padding-top: rem(80);
  @include mq("md"){
    padding-top: rem(102);
  }
}

.top-blog{
  padding-top: rem(80);
  @include mq("md"){
    padding-top: rem(101);
  }
}

.top-voice{
  padding-top: rem(84);
  @include mq("md"){
    padding-top: rem(144);
  }
}

.top-price{
  padding-top: rem(80);
  @include mq("md"){
    padding-top: rem(100);
  }
}

.top-contact{
  padding-top: rem(80);
  @include mq("md"){
    padding-top: rem(140);
  }
}

.top-footer{
  padding-top: rem(48);
  @include mq("md"){
    padding-top: rem(80);
  }
}