@use "global" as *;

.button{
  background-color: $green;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: rem(16) rem(45) rem(16) rem(40);
  position: relative;
  z-index: 1;
}

.button::before{
  content: "";
  position: absolute;
  top: rem(4);
  left: rem(4);
  width: 100%;
  height: 100%;
  border: rem(1) solid $green;
  z-index: -2;
}

.button::after{
  background-color: $white;
  border: rem(1) solid $green;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
  z-index: -1;
}

.button:hover::after{
  transform: scale(1, 1);
}

.button p{
  color: $white;
  font-size: rem(14);
  line-height: calc(22/14);
  font-family: $second-font-family;
  position: relative;
  padding-right: rem(44);
  transition: color .2s;
}

.button:hover p{
  color: $green;
}

.button p::before{
  border-bottom: rem(1) solid $white;
  border-right: rem(2) solid $white;
  content: "";
  position: absolute;
  top: rem(6);
  right: 0;
  display: block;
  transform: skew(45deg);
  width: rem(40);
  height: rem(6);
  transition: border-color 0.2s;
}

.button:hover p::before{
  border-color: $green;
}