@use "global" as *;

.campaign{
  padding-bottom: 2.5rem;
  @include mq("md"){
    padding-bottom: 4.375rem;
    position: relative;
  }
}

.campaign-swiper{
  margin-top: 1.6875rem;
  position: relative;
  @include mq("md"){
    margin-top: 2.75rem;
    margin-right: calc(50% - 50.5vw);
  }
}

.campaign__cards{
  padding-bottom: 0.625rem;
}
.campaign__card{
  display: block;
  color: $white;
  box-shadow: 0 0.25rem 0.25rem rgba($color: $black2, $alpha: 0.25);
}

.campaign__card-img{
  aspect-ratio: 280/188;
}

.campaign__card-img img{
  width: 100%;
  height: 100%;
  vertical-align: bottom;
  object-fit: cover;
}

.campaign__card-body{
  padding: 1rem 1rem 1.6rem;
  @include mq("md"){
    padding-top: 1.625rem;
    padding-bottom: 2.5rem;
  }
}

.campaign__card-tag{
  color: $green;
  font-size: 0.75rem;
  line-height: calc(22/12);
  padding: 0.3125rem 0.7rem 0.3125rem;
  border: 0.0625rem solid $green;
  @include mq("md"){
    padding: 0.4375rem 1rem 0.4375rem;
  }
}

.campaign__card-name{
  margin-top: 0.375rem;
  font-size: 1rem;
  font-weight: $medium;
  line-height: calc(24/16);
  color: $black;
  position: relative;
  @include mq("md"){
    margin-top: 0.625rem;
  }
}

.campaign__card-name::before{
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -0.625rem;
    width: 100%;
    height: 0.0625rem;
    border-radius: 0.3125rem;
    background: $green;
}

.campaign__card-text-wrap{
  margin-top: 0.5rem;
  padding: 0 1.125rem 0;
  @include mq("md"){
    margin-top: 0;
    padding-top: 1.5rem;
  }
}

.campaign__card-text{
  color: $black;
  font-size: 0.875rem;
  line-height: calc(24/14);
  text-align: center;
  margin-top: 1.0625rem;
  @include mq("md"){
    margin-top: 0;
    font-size: 1rem;
    line-height: calc(24/16);
  }

}

.campaign__card-price-wrap{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 0.5rem;
}

.campaign__card-list-price{
  color: $black;
  font-size: 1.25rem;
  font-weight: $bold;
  line-height: 1;
  font-family: $third-font-family;
  position: relative;
  @include mq("md"){
    font-size: 1.5rem;
  }
}

.campaign__card-list-price::before{
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 0.1875rem;
  background-color: $red;
  top: 50%;
  transform: translateY(-50%);
}

.campaign__card-price{
  color: $green;
  font-size: 2rem;
  font-weight: $bold;
  line-height: 1;
  font-family: $third-font-family;
  // margin-left: 1rem;
  @include mq("md"){
    font-size: min(2.8vw,2.5rem);
    margin-left: 8%;
  }
}

.campaign-swiper__button-wrap {
  @include mq("md"){
    position: absolute;
    top: 8.83rem;
    right: 11.8%;
    display: flex;
    justify-content: center;
  }
}

.campaign-swiper__button-wrap .swiper-button-prev,
.campaign-swiper__button-wrap .swiper-button-next {
  position: relative;
  background-color:$white;
  border: 0.0625rem solid $green;
  border-radius: 50%;
  @include mq(md){
      width: 5rem;
      height: 5rem;
  }
}

.campaign-swiper__button-wrap .swiper-button-next {
  margin-left: 6.25rem;
}

.campaign-swiper__button-wrap .swiper-button-prev::before,
.campaign-swiper__button-wrap .swiper-button-next::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-bottom: 0.0625rem solid $green;
  @include mq(md){
    width: 2.5rem;
    height: 0.25rem;
  }
}

.campaign-swiper__button-wrap .swiper-button-prev::after{
  content: "";
  position: absolute;
  width: 1rem;
  height: 0.625rem;
  border-left: 0.0625rem solid $green;
  transform: rotate(50deg);
  transform-origin: top right;
  position: absolute;
  top: 2.875rem;
  left: 1.25rem;
  box-sizing: border-box;
}

.campaign-swiper__button-wrap .swiper-button-next::after{
  content: "";
  position: absolute;
  width: 1rem;
  height: 0.625rem;
  border-right: 0.0625rem solid $green;
  transform: rotate(-50deg);
  transform-origin: top right;
  position: absolute;
  top: 2.125rem;
  right: 1.625rem;
  box-sizing: border-box;
}

.campaign__button-wrap{
  margin-top: 1.875rem;
  @include mq("md"){
    margin-top: 4.375rem;
  }
}

.campaign__button{
  margin: 0 auto;
}

.campaign-swiper__button-wrap .swiper-button-prev::before {
  transform: translate(-50%, -50%);
}

.campaign-swiper__button-wrap .swiper-button-next::before {
  transform: translate(-50%, -50%);
}