@use "global" as *;
.campaign{
  padding-bottom: rem(40);
  @include mq("md"){
    padding-bottom: rem(70);
    position: relative;
  }
}

.campaign-swiper{
  margin-top: rem(27);
  position: relative;
  @include mq("md"){
    margin-top: rem(44);
    margin-left: 12%;
  }
}

.campaign__cards{
  padding-bottom: rem(10);
}

.campaign__swiper .swiper-slide{
  height: auto;
}

.campaign__card{
  color: $white;
  box-shadow: 0 rem(4) rem(4) rgba($color: $black2, $alpha: 0.25);
}

.campaign__card-img{
  aspect-ratio: 280/188;
}

.campaign__card-img img{
  width: 100%;
  height: 100%;
  vertical-align: bottom;
  object-fit: cover;
}

.campaign__card-body{
  padding: rem(16) rem(16) rem(26);
  @include mq("md"){
    padding-top: rem(26);
    padding-bottom: rem(40);
  }
}

.campaign__card-tag{
  color: $green;
  font-size: rem(12);
  line-height: calc(22/12);
  padding: rem(5) rem(12) rem(5);
  border: rem(1) solid $green;
  @include mq("md"){
    padding: rem(7) rem(16) rem(7);
  }
}

.campaign__card-name{
  margin-top: rem(6);
  font-size: rem(16);
  font-weight: $medium;
  line-height: calc(24/16);
  color: $black;
  position: relative;
  @include mq("md"){
    margin-top: rem(10);
  }
}

.campaign__card-name::before{
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: rem(-10);
    width: 100%;
    height: rem(1);
    border-radius: rem(5);
    background: $green;
}

.campaign__card-text-wrap{
  margin-top: rem(8);
  padding: 0 rem(18) 0;
  @include mq("md"){
    margin-top: 0;
    padding-top: rem(24);
  }
}

.campaign__card-text{
  color: $black;
  font-size: rem(14);
  line-height: calc(24/14);
  text-align: center;
  margin-top: rem(17);
  @include mq("md"){
    margin-top: 0;
    font-size: rem(16);
    line-height: calc(24/16);
  }

}

.campaign__card-price-wrap{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: rem(8);
}

.campaign__card-list-price{
  color: $black;
  font-size: rem(20);
  font-weight: $bold;
  line-height: 1;
  font-family: $third-font-family;
  position: relative;
  @include mq("md"){
    font-size: rem(24);
  }
}

.campaign__card-list-price::before{
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: rem(3);
  background-color: $red;
  top: 50%;
  transform: translateY(-50%);
}

.campaign__card-price{
  color: $green;
  font-size: rem(32);
  font-weight: $bold;
  line-height: 1;
  font-family: $third-font-family;
  @include mq("md"){
    font-size: min(2.8vw,rem(40));
    margin-left: 8%;
  }
}

.campaign-swiper__button-wrap {
  @include mq("md"){
    position: absolute;
    top: rem(140);
    right: 11.8%;
    display: flex;
    justify-content: center;
}
}

.campaign-swiper__button-wrap .swiper-button-prev,
.campaign-swiper__button-wrap .swiper-button-next {
  position: relative;
  background-color:$white;
  border: rem(1) solid $green;
  border-radius: 50%;
  transition: opacity 0.3s;
  @include mq(md){
      width: rem(80);
      height: rem(80);
  }
  &:hover{
    opacity: 0.7;
  }
}

.campaign-swiper__button-wrap .swiper-button-next {
  margin-left: rem(100);
}

.campaign-swiper__button-wrap .swiper-button-prev::before,
.campaign-swiper__button-wrap .swiper-button-next::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border-bottom: rem(1) solid $green;
  @include mq(md){
    width: rem(40);
    height: rem(20);
  }
}

.campaign-swiper__button-wrap .swiper-button-prev::after{
  content: "";
  position: absolute;
  width: rem(8);
  height: rem(16);
  border-left: rem(1) solid $green;
  transform: rotate(50deg);
  transform-origin: top right;
  position: absolute;
  top: rem(34);
  left: rem(28);
  box-sizing: border-box;
}

.campaign-swiper__button-wrap .swiper-button-next::after{
  content: "";
  position: absolute;
  width: rem(8);
  height: rem(16);
  border-right: rem(1) solid $green;
  transform: rotate(-50deg);
  transform-origin: top right;
  position: absolute;
  top: rem(28);
  right: rem(31);
  box-sizing: border-box;
}


.campaign__button-wrap{
  margin-top: rem(30);
  @include mq("md"){
    margin-top: rem(70);
  }
}

.campaign__button{
  margin: 0 auto;
}

.campaign-swiper__button-wrap .swiper-button-prev::before {
  transform: translate(-50%, -50%);
}

.campaign-swiper__button-wrap .swiper-button-next::before {
  transform: translate(-50%, -50%);
}
