@use "global" as *;

.cards {
  display: grid;
  grid-template-columns: repeat(1, 3fr);;
  @include mq("md"){
    grid-template-columns: repeat(3, 1fr);;
  }
}

.card-list__item {
  flex-grow: 1;
  display: block;
  background-color: $white;
  box-shadow: rem(2) rem(2) rem(10) rgba($color: $black2, $alpha: 0.25);
  transition: border 0.3s;
  &:hover{
    border: rem(2) solid $green;
  }
}

.card__img {
  padding: rem(16) rem(16) 0;
}

.card__img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__body {
  padding: rem(17) rem(16) rem(24);
}

.card__date {
  font-size: rem(12);
  line-height: calc(18/12);
  font-family: $second-font-family;
}

.card__title {
  font-size: 1rem;
  font-weight: $medium;
  line-height: calc(24/16);
  position: relative;
}

.card__title::before{
  content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: rem(-5);
    width: 100%;
    height: rem(1);
    border-radius: rem(5);
    background: $green;
}


.card__text {
  line-height: calc(24/16);
  margin-top: rem(20);
}