@use "global" as *;

.card{
  display: flex;
}

.card__list {
  flex-grow: 1;
  display: block;
  background-color: $white;
  box-shadow: rem(2) rem(2) rem(10) rgba($color: $black2, $alpha: 0.25);
  padding: rem(16) rem(16) rem(24);
}

.card__img {
  overflow: hidden;
  box-sizing: content-box;
}

.card__img img{
  aspect-ratio: 301/201;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .6s ease;
}

.card__list:hover .card__img img{
  transform: scale(1.3);
}


.card__body {
  padding-top: rem(17);
}

.card__date {
  font-size: rem(12);
  line-height: calc(18/12);
  font-family: $second-font-family;
}

.card__title {
  font-size: 1rem;
  font-weight: $medium;
  line-height: calc(24/16);
  position: relative;
}

.card__title::before{
  content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: rem(-5);
    width: 100%;
    height: rem(1);
    border-radius: rem(5);
    background: $green;
}


.card__text {
  line-height: calc(24/16);
  margin-top: rem(20);
}