@use "global" as *;

.chart{
  @include mq("md"){
    display: flex;
  }
}

.chart + .chart{
  margin-top: rem(40);
  @include mq("md"){
    margin-top: rem(80);
  }
}

.chart__title {
  color: $white;
  font-size: rem(16);
  font-weight: $bold;
  line-height: calc(24/16);
  background-color: $green;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: rem(8);
  gap: rem(8);
  @include mq("md"){
    flex-direction: column-reverse;
    gap: rem(12);
    width: 28%;
  }
}

.chart__img {
  width: rem(24);
  height: rem(24);
  @include mq("md"){
    width: rem(64);
    height: rem(64);
  }
}

.chart__img img{
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.chart__list{
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  @include mq("md"){
    width: 72%;
    text-align: left;
  }
}

.chart__item {
  color: $black;
  font-size: rem(16);
  line-height: calc(24/16);
}

.chart__name {
  width: 69%;
  border: rem(1) solid $green;
  padding: rem(7);
  @include mq("md"){
    width: 48%;
    padding: rem(18) rem(16) rem(18);
  }
}

.chart__price {
  width: 30%;
  padding: rem(18);
  border: rem(1) solid $green;
  @include mq("md"){
    width: 22%;
    text-align: right;
    padding: rem(16);
  }
}