@use "global" as *;

.contact {
  position: relative;
  padding-bottom: 6.25rem;
  filter: drop-shadow(0 0.25rem 0.25rem rgba($color: $black2, $alpha: 0.25));
  @include mq("md"){
    padding-bottom: 10rem;
    filter: none;
  }
}

.contact__inner{
  width: 100%;
  padding-right: 1.875rem;
  padding-left: 1.875rem;
  margin-right: auto;
  margin-left: auto;
  @include mq("md"){
    max-width: 70.625rem;
    padding-right: 1.5625rem;
    padding-left: 1.5625rem;
  }
}

.contact__contents {
  @include mq("md"){
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0.25rem 0.25rem 0.625rem rgba($color: $black2, $alpha: 0.25);
    padding: 5rem 2.5rem 6.25rem;
    position: relative;
  }
}

.contact__contents::before{
  @include mq("md"){
    content: "";
    position: absolute;
    width: 0.0625rem;
    height: 15.9375rem;
    top: 50%;
    left: 53%;
    transform: translateY(-50%);
    border-radius: 0.3125rem;
    background-color: $green;
  }
}

.contact__access {
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  margin-right: auto;
  margin-left: auto;
  @include mq("md"){
    width: 50%;
  }
}

.contact__site-logo {
  width: 100%;
  position: relative;
}

.contact__site-logo::before{
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -0.625rem;
  width: 100%;
  height: 0.0625rem;
  border-radius: 0.3125rem;
  background: $green;
}

.contact__site-logo img{
  margin: 0 auto;
  width: 10.875rem;
  @include mq("md"){
    width: 12.5rem;
  }
}

.contact__access-box {
  margin-top: 1.375rem;
  @include mq("md"){
    display: flex;
    justify-content: space-between;
    margin-top: 1.875rem;
  }
}

.contact__access-text {
  text-align: center;
  line-height: 1.5;
    @include mq("md"){
      text-align: left;
    }
}

.contact__access-text:not(:first-child){
  margin-top: 0.25rem;
}

.contact__access-map-wrap{
  margin-top: 1rem;
  width: 100%;
  @include mq("md"){
    margin-top: 0;
    margin-left: 1.3125rem;
    max-width: 17.0625rem;
  }
}

.contact__access-map {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 47.5%;
}

.contact__access-map iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 10rem;
}

.contact__guidance {
  margin-top: 3.75rem;
  @include mq("md"){
    margin-top: 1.5rem;
    width: 50%;
    margin-left: 5rem;
  }
}

.contact__main-title.section__main-title {
  font-size: 5rem;
  line-height: 1;
  font-weight: $normal;
}

.contact__sub-title.section__sub-title{
  margin-top: -0.29rem;
}

.contact__text {
  font-size: 0.875rem;
  line-height: calc(18/14);
  color: $green;
  text-align: center;
  margin-top: 0.5rem;
  @include mq("md"){
    margin-top: 0.25rem;
  }
}

.contact__button-wrap {
  margin-top: 2.5rem;
}

.contact__button {
  margin: 0 auto;
}

.contact__top-img-wrap{
  width: 30%;
  max-width: 6.8125rem;
  position: absolute;
  top: 6.8%;
  right: 4%;
  z-index: 5;
  @include mq("md"){
    width: 22%;
    max-width: 18.8125rem;
    top: 14.8%;
    right: 3.4%;
  }
}
