@use "global" as *;

.detail__time {
  color: $black;
  font-family: $second-font-family;
  font-size: rem(14);
  line-height: calc(18/14);
}

.detail__title {
  color: $black;
  font-size: rem(24);
  font-weight: $medium;
  border-bottom: rem(1) solid $green;
  @include mq("md"){
    font-size: rem(32);
  }
}

.detail__img {
  margin-top: rem(24);
  width: 100%;
  @include mq("md"){
    margin-top: rem(40);
  }
}

.detail__img img{
  aspect-ratio: 345/231;
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: bottom;
  @include mq("md"){
    aspect-ratio: 700/468;
  }
}

.detail__content p {
  margin-top: rem(24);
  color: $black;
  font-size: rem(16);
  line-height: calc(24/16);
  @include mq("md"){
    margin-top: rem(40);
  }
}

.detail__content figure{
  margin-top: rem(24);
  width: 100%;
  @include mq("md"){
    margin-top: rem(40);
  }
}

.detail__content img{
  aspect-ratio: 345/231;
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: bottom;
  @include mq("md"){
    aspect-ratio: 700/468;
  }
}

.detail__content ul {
  margin-top: rem(24);
  @include mq("md"){
    margin-top: rem(40);
  }
}

.detail__content li {
  color: $black;
  padding-left: rem(27);
  line-height: calc(18/16);
  margin-top: rem(14);
  position: relative;
}

.detail__content li::after{
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  background-image: url(/assets/images/star-fish-g.webp);
  background-repeat: no-repeat;
  background-size: cover;
  width: rem(18);
  height: rem(18);
  z-index: 9999;
}