@use "global" as *;

.footer{
  background-color: $green;
  padding-top: rem(48);
  padding-bottom: rem(56);
  @include mq("md"){
    padding-top: rem(80);
    padding-bottom: rem(80);
  }
}

.footer__heading{
  @include mq("md"){
    display: flex;
    align-items: flex-end;
    gap: rem(40);
  }
}

.footer__site-logo{
  width: 100%;
  max-width: rem(120);
  @include mq("md"){
    max-width: rem(200);
  }
}

.footer__site-logo a{
  transition: opacity 0.3s;
  &:hover{
    opacity: 0.7;
  }
}

.footer__site-logo img{
  filter: drop-shadow(0 rem(4) rem(4) rgba($color: $black2, $alpha: 0.25));
}

.footer__sns{
  margin-top: rem(16);
  display: flex;
  align-items: center;
  gap: rem(16);
}

.footer__img-wrap{
  width: 100%;
  max-width: rem(24);
  @include mq("md"){
    max-width: rem(32);
  }
}

.footer__img-wrap a{
  transition: opacity 0.3s;
  &:hover{
    opacity: 0.7;
  }
}

.footer__nav{
  margin-top: rem(40);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 4%;
  padding-right: rem(11);
  @include mq("md"){
    margin-top: rem(28);
    padding-right: 0;
    align-items: flex-start;
    gap: 11%;
  }
}

.footer-nav__left,
.footer-nav__right{
  @include mq("md"){
    display: flex;
  }
}

.footer-nav__box:not(:first-of-type){
  @include mq("md"){
    margin-left: rem(120);
  }
}

.footer-nav__items{
    display: flex;
    flex-direction: column;
    gap: rem(24);
  }

  .footer-nav__item{
    color: $white;
    list-style: none;
    padding-left: rem(22);
  }


.footer-nav__item.footer-nav__item--icon{
  font-weight: $bold;
  line-height: calc(18/16);
  margin-top: rem(14);
  background-image: url(/assets/images/starfish.png);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover rem(18);
  padding-left: rem(22);
  line-height: rem(18);
  margin-top: rem(40);
}

.footer-nav__item.footer-nav__item--top{
  margin-top: 0;
}

.footer-nav__item.footer-nav--mg{
  @include mq("md"){
    margin-top: 0;
  }
}

.footer-nav__link{
  display: block;
  color: $white;
  transition: opacity 0.3s;
  &:hover{
    opacity: 0.7;
  }
}

.footer__copy-right{
  display: block;
  text-align: center;
  color: $white;
  font-size: rem(12);
  font-family: $second-font-family;
  line-height: calc(18/12);
  margin-top: rem(40);
  @include mq("md"){
    font-size: rem(14);
    line-height: calc(18/14);
    margin-top: rem(80);
  }
}