@use "global" as *;
.fv{
  position: relative;
  z-index: 1;
  width: 100%;
  min-height: 100vh;
}

.fv__inner{
  height: inherit;
}

.fv__title-wrap{
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: $white;
  text-align: center;
}

.fv__title{
  font-size: rem(40);
  letter-spacing: 0.54em;
  line-height: calc(48/40);
  font-family: $third-font-family;
  padding-left: rem(24);
  font-weight: 400;
  @include mq("md"){
    font-size: rem(80);
    line-height: calc(100/80);
    padding-left: rem(40);
  }
}

.fv__sub-title{
  font-size: rem(20);
  font-family: $second-font-family;
}

.fv__swiper,
.fv__swiper .swiper-img,
.fv__swiper .swiper-img img {
    height: inherit;
}

.fv__swiper .swiper-img img {
  width: 100%;
  object-fit: cover;
}
