@use "global" as *;

.g-nav li a{
  position: relative;
}

.g-nav li a:hover{
	color: $white;
}

.g-nav li a::after {
  content: '';
  position: absolute;
  bottom: rem(23);
  left: 10%;
  width: 80%;
  height: rem(1);
  background:$white;
  border-radius: rem(50);
  transition: transform .3s;
  transform: scale(0, 1);
  transform-origin: center top;
}

.g-nav li a:hover::after {
  transform: scale(1, 1);
}