@use "global" as *;

.hamburger{
 z-index:9999;
}

.hamburger span {
 position: relative;
 display: block;
 height: rem(1);
 width: rem(32);
 background: $white;
 transition: ease .3s;
}

.hamburger span:nth-child(1) {
 top: 0;
}

.hamburger span:nth-child(2) {
 margin: rem(12) 0;
}

.hamburger span:nth-child(3) {
 top: 0;
}
/*is-OPEN時の動き*/
.hamburger.is-open span{
  width: rem(40);

}
.hamburger.is-open span:nth-child(1) {
 top: rem(13.6);
 transform: rotate(35deg);
}

.hamburger.is-open span:nth-child(2) {
 transform: translateY(-50%);
 opacity: 0;
}

.hamburger.is-open span:nth-child(3) {
 top: rem(-13.6);
 transform: rotate(-35deg);
}
