@use "global" as *;

.header{
  background-color: rgba($color: $black, $alpha: 0.68);
  width: 100%;
  height: rem(80);
  @include mq("md"){
    height: rem(90);
  }
}

// .header.is-open{
//   background-color: $green;
// }

.header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 rem(15) 0 rem(13);
  margin-right: auto;
  margin-left: auto;
  height: inherit;
  @include mq("md"){
    padding: 0 rem(20) 0 rem(37);
  }
}

.header__logo{
  position: relative;
  z-index: 9999;
  width: rem(106);
  padding-top: rem(5);
  @include mq("md"){
    width: rem(140);
  }
}

.header__sp-nav{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: none;
  background-color: $green;
  display: flex;
}

