@use "global" as *;

.modal {
  position: absolute;
  top: rem(146);
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color: $black3, $alpha: 0.8);
  padding: rem(90) rem(260);
  cursor: pointer;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  box-sizing: border-box;

}

.modal.is-active{
  opacity: 1;
  visibility: visible;
}

// .modal:before{
//   content: "";
//   display: inline-block;
//   vertical-align: middle;
//   height: 100%;
//   margin-left: -0.2em;
// }

.modal-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    max-width: 1080px;
    width: 100%;
}

