@use "global" as *;

#page-top {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  background-color: $white;
  z-index: 10;
  width: 3rem;
  height: 3rem;
  border: 0.0625rem solid $green;
  border-radius: 50%;
  box-shadow: 0 0.25rem 0.25rem rgba($color: $black2, $alpha: 0.25);
  cursor: pointer;
  @include mq("md"){
    width: 5rem;
    height: 5rem;
    right: 1.25rem;
  bottom: 1.25rem;
  }
}




#page-top::before{
  position: absolute;
  content: "";
  top: 50%;
  left: 25%;
  width: 1.75rem;
  height: 0.0625rem;
  border-bottom: 0.0625rem solid $green;
  transform: rotate(-90deg);
  @include mq("md"){
    width: 2.5rem;
  }
}

#page-top::after{
  content: '';
  width: rem(12);
  height: rem(40);
  border-top: rem(1) solid $green;
  transform: rotate(-50deg);
  transform-origin: top right;
  position: absolute;
  top: rem;
  right: 45%;
  box-sizing: border-box;
  @include mq("md"){
  top: rem(10);
  right: 50%;
  }
}
