@use "global" as *;

.pc-nav{
  height: inherit;
}

.pc-nav__items{
  display: flex;
  align-items: center;
  height: inherit;
}

.pc-nav__item{
  height: inherit;
}


.pc-nav__link{
  position: relative;
  font-size: rem(18);
  line-height: 1;
  font-family: $second-font-family;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: inherit;
  padding: 0 rem(20);
}

.pc-nav__link:hover{
	color: $white;
}

.pc-nav__link::after {
  content: '';
  position: absolute;
  bottom: rem(23);
  left: 10%;
  width: 80%;
  height: rem(1);
  background:$white;
  border-radius: rem(50);
  transition: transform .3s;
  transform: scale(0, 1);
  transform-origin: center top;
}

.pc-nav__link:hover::after {
  transform: scale(1, 1);
}


