@use "global" as *;

.popular__item{
  margin-top: rem(40);
  padding: rem(16);
  box-shadow: rem(2) rem(2) rem(10) rem(0) rgba($color:$black2, $alpha: 0.25);
  transition: border-color .3s;
}

.popular__item a{
  display: flex;
}


.popular__item:hover {
  border: rem(2) solid $green;
}


.popular__img {
  width: 41%;
  flex-shrink: 0;
}

.popular__img img {
  aspect-ratio: 121/90;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.popular__body {
  margin-left: rem(16);
}

.popular__time {
  color: $black;
  font-size: rem(12);
  font-family: $second-font-family;
  line-height: calc(18/12);


}

.popular__title {
  color: $black;
  font-size: rem(16);
  font-weight: $medium;
  margin-top: rem(4);

}

