@use "global" as *;

.price {
  background-color: $green2;
  padding-top: rem(80);
  padding-bottom: rem(84);
  @include mq("md"){
    padding-top: rem(100);
    padding-bottom: rem(102);
  }
}

.price__inner{
  @include mq("md"){
    position: relative;
  }
}

.price__contents {
  margin-top: rem(28);
  @include mq("md"){
    margin-top: rem(40);
    display: flex;
    flex-direction: row-reverse;
  }
}

.price__img-wrap {
  @include mq("md"){
    width: 45%;
    margin-left: rem(93);
  }
}

.price__img-wrap img{
  aspect-ratio: 690/454;
  object-fit: cover;
    @include mq("md"){
      aspect-ratio: 984/1482;
    }
}

.price__box {
  margin-top: rem(40);
  @include mq("md"){
    margin-top: rem(2);
    width: 69%;
  }
}

.price__items:not(:first-child) {
  margin-top: rem(40);

}

.price__item {
  font-size: rem(16);
  line-height: 1.5;
  font-weight: $bold;
  position: relative;
}

.price__item:before {
  content: "";
      display: inline-block;
      position: absolute;
      left: 0;
      bottom: rem(-4);
      width: 100%;
      height: rem(1);
      border-radius: rem(5);
      background: $green;
  }

.price__course {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: rem(14);
  line-height: calc(24/14);
  margin-top: rem(8.96);
  @include mq("md"){
    font-size: rem(16);
    line-height: calc(24/16);
  }
}

.price__cost{
  margin-left: rem(20);
}

.price__button-wrap{
  margin-top: rem(40);
  @include mq("md"){
    margin-top: rem(80);
  }
}

.price__button{
  margin: 0 auto;
}

.price__under-img-wrap{
  max-width: rem(437);
  position: absolute;
  left: calc(50% - min(48vw, 38.75rem));
  bottom: rem(-40);
  z-index: 5;
}
