@use "global" as *;

.price {
  background-color: $green2;
  padding-bottom: rem(84);
  @include mq("md"){
    padding-bottom: rem(102);
    position: relative;
  }
}
.price__inner{
  width: 100%;
  max-width: rem(1127);
  padding-right: rem(15);
  padding-left: rem(15);
  margin-right: auto;
  margin-left: auto;
  @include mq("md"){
    padding-right: rem(25);
    padding-left: rem(25);
  }
}

.price__contents {
  margin-top: rem(28);
  @include mq("md"){
    margin-top: rem(40);
    display: flex;
    flex-direction: row-reverse;
  }
}

.price__img-wrap {
  @include mq("md"){
    width: 45%;
    margin-left: rem(93);
  }
}

.price__box {
  margin-top: rem(40);
  @include mq("md"){
    margin-top: rem(2);
    width: 69%;
  }
}

.price__items:not(:first-child) {
  margin-top: rem(40);

}

.price__item {
  font-size: rem(16);
  line-height: 1.5;
  font-weight: $bold;
  position: relative;
}

.price__item:before {
  content: "";
      display: inline-block;
      position: absolute;
      left: 0;
      bottom: rem(-4);
      width: 100%;
      height: rem(1);
      border-radius: rem(5);
      background: $green;
  }

.price__course {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: rem(14);
  line-height: calc(24/14);
  margin-top: rem(8.96);
  @include mq("md"){
    font-size: rem(16);
    line-height: calc(24/16);
  }
}

.price__button-wrap{
  margin-top: rem(40);
  @include mq("md"){
    margin-top: rem(80);
  }
}

.price__button{
  margin: 0 auto;
}

.price__under-img-wrap{
  width: 31%;
  max-width: rem(437);
  position: absolute;
  left: 6.9%;
  bottom: 4.4%;
  z-index: 5;
}
