@use "global" as *;

.section__title-wrap{
  text-align: center;
}

.section__main-title{
  font-size: rem(32);
  line-height: calc(40/32);
  font-family: $second-font-family;
  @include mq("md"){
    font-size: rem(40);
    line-height: 1;
  }
}

.section__main-title.section__main-title--white{
  @include mq("md"){
    color: $white;
  }
}


.section__main-title::first-letter{
  color: $green;
}

.section__main-title.section__main-title--white::first-letter{
  @include mq("md"){
    color: $white;
  }
}

.section__sub-title{
  margin-top: rem(4);
  font-size: rem(12);
  line-height: calc(18/12);
  color: $green;
  @include mq("md"){
    margin-top: rem(6);
  }
}

.section__sub-title.section__sub-title--white{
  @include mq("md"){
    color: $white;
  }
}