@use "global" as *;

.tab__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: rem(16);
}

.tab__menu-item{
  color: $green;
  cursor: pointer;
  text-align: center;
  font-size: rem(14);
  width: 100%;
  max-width: rem(102);
  padding: rem(10) rem(16);
  position: relative;
  background-color: $green2;
  box-shadow: rem(2) rem(4) rem(2) 0 rgba($color: $black2, $alpha: 0.25);
  transition: color .3s, background-color .3s;
  &:hover{
    color: $white;
    background-color: $green;
  }
  @include mq("md"){
    box-shadow: none;
    font-size: rem(24);
    padding: rem(28) rem(16);
    padding-left: rem(90);
    max-width: rem(300);
  }
}

.tab__menu-icon::before{
  @include mq("md"){
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: rem(20);
    background-image: url(/assets/images/whale.svg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: rem(64);
    height: rem(64);
    z-index: 9999;
    transition : background-image .3s;
  }
}

.tab__menu-icon.tab__menu-icon--shark::before{
  @include mq("md"){
    background-image: url(/assets/images/shark.svg);
  }
}

.tab__menu-icon.tab__menu-icon--fish::before{
  @include mq("md"){
    background-image: url(/assets/images/fish.svg);
  }
}

.tab__menu-item:hover .tab__menu-icon--whale::before{
  @include mq("md"){
    background-image: url(/assets/images/whale.svg);
    filter: brightness(0) invert(1);
  }
}

.tab__menu-item:hover .tab__menu-icon--shark::before{
  @include mq("md"){
    background-image: url(/assets/images/shark.svg);
    filter: brightness(0) invert(1);
  }
}

.tab__menu-item:hover .tab__menu-icon--fish::before{
  @include mq("md"){
    background-image: url(/assets/images/fish.svg);
    filter: brightness(0) invert(1);
  }
}

.tab__menu-item.is-active{
  color: $white;
  background-color: $green;
  box-shadow: rem(2) rem(4) rem(2) 0 rgba($color: $black2, $alpha: 0.25);
  @include mq("md"){
    box-shadow: rem(4) rem(8) rem(4) 0 rgba($color: $black2, $alpha: 0.25);
  }
}

.tab__menu-item.is-active .tab__menu-icon::before{
  @include mq("md"){
    content: "";
    position: absolute;
    top: 50%;
    left: rem(20);
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: rem(64);
    height: rem(64);
    z-index: 9999;
    filter: brightness(0) invert(1);
  }
}

.tab__menu-item.is-active .tab__menu-icon--whale::before{
  background-image: url(/assets/images/whale.svg);
}
.tab__menu-item.is-active .tab__menu-icon--shark::before{
  background-image: url(/assets/images/shark.svg);
}

.tab__menu-item.is-active .tab__menu-icon--fish::before{
  background-image: url(/assets/images/fish.svg);
}

.tab__content {
  margin-top: rem(16);
  @include mq("md"){
    margin-top: rem(24);
  }
}

.tab__content-item {
  border: rem(1) solid $green;
  display: none;
  padding: rem(24);
  @include mq("md"){
    border: rem(2) solid $green;
  }
}

.tab__content-item.is-active {
  display: block;
  animation: fade .3s;
  @include mq("md"){
    display: flex;
    align-items: center;
  }
}

@keyframes fade {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.tab__content-item + .tab__content-item{
  margin-top: rem(16);
  @include mq("md"){
    margin-top: rem(24);
  }
}

.tab__content-title {
  color: $black;
  font-size: rem(24);
  font-weight: $bold;
  line-height: 1;
  border-bottom: rem(1) solid $green;
  padding-bottom: rem(8);

}

.tab__content-text {
  margin-top: rem(8);
  color: $black;
  font-size: rem(16);
  line-height: calc(24/16);
}

.tab__content-img {
  margin-top: rem(8);
  width: 100%;
  @include mq("md"){
    margin-top: 0;
    margin-left: rem(20);
    width: 45%;
    flex-shrink: 0;
  }
}

.tab__content-img img{
  aspect-ratio: 297/189;
  width: 100%;
  height: 100%;
  object-fit: cover;
  @include mq("md"){
    aspect-ratio: 492/313;
  }
}

