@use "global" as *;

.title{
  text-align: center;
}

.title__main-title{
  font-size: rem(32);
  line-height: calc(40/32);
  font-family: $second-font-family;
  @include mq("md"){
    font-size: rem(40);
    line-height: 1;
  }
}

.title__main-title.title__main-title--white{
  @include mq("md"){
    color: $white;
  }
}


.title__main-title::first-letter{
  color: $green;
}

.title__main-title.title__main-title--white::first-letter{
  @include mq("md"){
    color: $white;
  }
}

.title__main-title .title__main-title--big{
  font-size: rem(80);
  line-height: 1;
  font-weight: $normal;
}

.title__sub-title{
  margin-top: rem(4);
  font-size: rem(12);
  line-height: calc(18/12);
  color: $green;
  @include mq("md"){
    margin-top: rem(6);
  }
}

.title__sub-title.title__sub-title--white{
  @include mq("md"){
    color: $white;
  }
}

.title__sub-title .title__sub-title--mt{
  margin-top: rem(5);
}