@use "global" as *;

.voice__inner{
  position: relative;
}

.voice__contents{
  margin-top: rem(44);
  @include mq("md"){
    margin-top: rem(30);
  }
}

.voice__cards{
  display: grid;
  grid-template-columns: auto(1, 2fr);
  gap: rem(40);
  @include mq("md"){
    grid-template-columns: repeat(2, 1fr);
  }
}

.voice-card{
  box-shadow: 0.125rem 0.125rem 0.625rem rgba($color: $black2, $alpha: 0.25);
  padding: rem(14) rem(16) rem(24);
  width: 100%;
  @include mq("md"){
  padding: rem(14) rem(24) rem(24);
  }
}

.voice-card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.voice-card__topic{
  width: 100%;
  margin-top: auto;
  @include mq("md"){
    width: 61%;
    margin-top: rem(34);
  }
}

.voice-card__info{
  @include mq("md"){
    display: flex;
    align-items: end;
    justify-content: space-between;
  }
}

.voice-card__gender {
  font-size: rem(12);
  padding-bottom: rem(2);
  @include mq("md"){
    padding-bottom: 0;
  }
}

.voice-card__tag {
  color: $green;
  font-size: rem(12);
  line-height: calc(22/12);
  padding: rem(5) rem(10) rem(5);
  border: rem(1) solid $green;
  @include mq("md"){
    padding: rem(5) rem(16) rem(5);
  }
}

.voice-card__sub-title {
  font-size: rem(16);
  margin-top: rem(7);
  font-weight: $medium;
  position: relative;
  @include mq("md"){
    margin-top: rem(8);
    font-size: rem(24);
  }
}

.voice-card__sub-title::before{
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: rem(-4);
  width: 100%;
  height: rem(1);
  border-radius: rem(5);
  background: $green;
}

.voice-card__img {
  width: 50%;
  margin-left: rem(13);
  margin-top: rem(8);
  @include mq("md"){
    aspect-ratio: 180/140;
    width: 38%;
  }
}

.voice-card__img img{
  width: 100%;
  aspect-ratio: 151/117;
  height: auto;
  object-fit: cover;
}

.voice-card__text {
  margin-top: rem(18);
  line-height: 1.5;
  @include mq("md"){
    margin-top: rem(42);
  }
}

.voice__button-wrap{
  text-align: center;
  margin-top: rem(40);
  @include mq("md"){
    margin-top: rem(80);
  }
}

.voice__button{
  margin: 0 auto;
}

.voice__top-img-wrap{
  max-width: rem(301);
  position: absolute;
  top: rem(-120);
  left: calc(50% - min(48vw, rem(620)));
  z-index: 5;
}

.voice__under-img-wrap{
  max-width: rem(71);
  position: absolute;
  right: calc(50% - min(48vw, rem(540)));
  bottom: rem(-61);
  z-index: 5;
}