@use "global" as *;

.voice__inner{
  position: relative;
}

.voice__contents{
  margin-top: rem(44);
  @include mq("md"){
    margin-top: rem(30);
  }
}

.voice__button-wrap{
  text-align: center;
  margin-top: rem(40);
  @include mq("md"){
    margin-top: rem(80);
  }
}

.voice__top-img-wrap{
  max-width: rem(301);
  position: absolute;
  top: rem(-120);
  left: calc(50% - min(48vw, rem(620)));
  z-index: 5;
}

.voice__under-img-wrap{
  max-width: rem(71);
  position: absolute;
  right: calc(50% - min(48vw, rem(540)));
  bottom: rem(-61);
  z-index: 5;
}

.voice-lower__contents{
  margin-top: rem(44);
  @include mq("md"){
    margin-top: rem(30);
  }
}