@use "global" as *;

.voice{
  padding-bottom: 5.25rem;
  @include mq("md"){
    padding-bottom: 9rem;
    position: relative;
  }
}

.voice__contents{
  margin-top: 2.75rem;
  @include mq("md"){
    margin-top: 1.875rem;
  }
}

.voice__cards{
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  @include mq("md"){
    flex-direction: row;
  }
}

.voice-card{
  box-shadow: 0.125rem 0.125rem 0.625rem rgba($color: $black2, $alpha: 0.25);
  padding: 0.87rem 1rem 1.5rem;
  @include mq("md"){
  padding: 0.87rem 1.5rem 1.5rem;
  }
}

.voice-card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.voice-card__topic{
  @include mq("md"){
    width: 61%;
    margin-top: 2.125rem;
  }
}

.voice-card__info{
  @include mq("md"){
    display: flex;
    align-items: end;
    justify-content: space-between;
  }
}

.voice-card__gender {
  font-size: 0.75rem;
  padding-bottom: 0.12rem;
  @include mq("md"){
    padding-bottom: 0;
  }
}

.voice-card__tag {
  color: $green;
  font-size: 0.75rem;
  line-height: calc(22/12);
  padding: 0.31rem 0.68rem 0.31rem;
  border: 0.0625rem solid $green;
  @include mq("md"){
    padding: 0.31rem 1rem 0.31rem;
  }
}

.voice-card__sub-title {
  font-size: 1rem;
  margin-top: 0.43rem;
  font-weight: $medium;
  position: relative;
  @include mq("md"){
    margin-top: 0.5rem;
    font-size: 1.5rem;
  }
}

.voice-card__sub-title::before{
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: -0.25rem;
  width: 100%;
  height: 0.0625rem;
  border-radius: 0.3125rem;
  background: $green;
}

.voice-card__img {
  aspect-ratio: 151/117;
  margin-left: 0.8125rem;
  margin-top: 0.5rem;
  @include mq("md"){
    aspect-ratio: 180/140;
    width: 38%;
  }
}

.voice-card__img img{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.voice-card__text {
  margin-top: 1.12rem;
  line-height: 1.5;
  @include mq("md"){
    margin-top: 2.625rem;
  }
}

.voice__button-wrap{
  text-align: center;
  margin-top: 2.5rem;
  @include mq("md"){
    margin-top: 5rem;
  }
}

.voice__button{
  margin: 0 auto;
}

.voice__top-img-wrap{
  width: 22%;
  max-width: 18.8125rem;
  position: absolute;
  top: 2.7%;
  left: 7%;
  z-index: 5;
}

.voice__under-img-wrap{
  width: 11%;
  max-width: 4.4375rem;
  position: absolute;
  right: 12.6%;
  bottom: 8%;
  z-index: 5;
}